@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*
{
  font-family: 'Outfit', sans-serif;
}
body {
  background-color: black;
  color: white;
}
.navdiv {
  display: flex;
  justify-content: space-between;
}
.navul {
  padding: 0vh 2vh;
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
}
.navli {
  margin: 0vh 2vh;
  margin-top: 3%;
}
.navend {
  justify-self: end;
}
.carousel-item img
{
    height: 70vh;
}
.p-one
{
  margin-top: 2%;
  text-align: justify;
  width: 50%;
}
.orange-text
{
  color: orange;
}
.proimg img{
  height: 40%;
  width: 10%;
  border-radius: 50%;
}
.trainerinfo{
  width: 50%;
}
.t-card{
  background-color:  black;
}
.t-card img{
  height: 60vh;
  width: 50vh;
}
.cr img{
  width: 50vh;
  height: 50;
}
.contect-li
{
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
  margin: 6% 0%;
  justify-content:space-between ;
  animation: ease-in-out;

}
.contect-li li{
  background-color:  orange;
  color:white;
  padding: 2% 3%;
  border-radius: 24%;
}
.contect-icon:hover{
  background-color: aqua;
 }


 
/* top */


 





@media only screen and (max-width: 600px){

  .navdiv{
    margin: 1% 0%;
  }
    .navli {
        margin: 0vh 2vh;
        margin-top: 2%;
      }
      .carousel-item img
{
    height: 30vh;
}
.p-one{
  width: 100%;
}
.t-card img{
  height:40vh;
}
}