*{
    font-family: 'Nerko One', cursive;
}
 

$primary:#54638c;
$secondary:#8A4FFF;
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss'